/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Page center */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9e1f9;
}
/* Card container */
.container {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4f46e5;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 5px;
}

/* Inputs */
input {
  padding: 10px;
  font-size: 14px;
}


/* Buttons */
button {
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

button:hover {
  background-color: #4338ca;
}

/* Links */
a {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #4f46e5;
  text-decoration: none;
}

.dashboard {
  max-width: 700px;
}

.auth-link {
  text-align: center;
  margin-top: 2px;
}

.auth-link a {
  display: inline;
  margin-left: 5px;
  /*font-weight: bold;*/
}


ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* File list layout */
#fileList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* File name */
.file-name {
  font-size: 14px;
}

/* Buttons on right */
.file-actions {
  display: flex;
  gap: 10px;
}

/* Download button */
button.download {
  background-color: #07a230;
}
button.download:hover {
  background-color: #05671f;
}

/* Delete button */
button.delete {
  background-color: #dc2626;
}

button.delete:hover {
  background-color: #b91c1c;
}
